.content {
    margin: 1rem;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cell{
    background-color:white;
    width: 20vw;
    height: 20vw;
    transition: all .25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: antiquewhite;
}

.button {
    background-color: rgb(179, 234, 49);
    width: 150px;
    align-self: center;
    padding:8px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
}

.shrink {
    transform: scale(.1);
    opacity: 0;
}